.footer {
  width: 100%;
  padding: 1rem;
  justify-self: flex-end;
  align-self: flex-end;

  background-color: var(--footer-backgroud);
}

.wrapper {
  width: 100%;
  margin: auto;
  max-width: var(--max-width);
}
