.titleBox {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
}

.title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: auto;
  margin: 0;
  display: block;
}

.tags {
  display: flex;
  gap: 10px;
}

.date {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  grid-row-start: span 2;
}

.wrapper {
  margin-bottom: 60px;
}

.postCTA {
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--highlight);
}
.postCTA a {
  color: var(--highlight-text);
  text-decoration: none;
}
