html,
body,
#__next {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --max-width: 1024px;
}

.light-theme {
  --layout-bg: #fafafa;
}

.dark-theme {
  --layout-bg: #1f1f1f;
}
