html,
body,
#__next {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --max-width: 1024px;
}

.light-theme {
  --layout-bg: #fafafa;
  --text-color: #1f2326;
  --highlight: #47b5ac;

  background-color: var(--layout-bg);
}

.dark-theme {
  --layout-bg: #1f1f1f;
}
